<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Welcome to Sapphire, <%= @user.name %></h2>

    <p>
      You have successfully signed up to Sapphire, thanks for joining and have a great day!
    </p>
  </body>
</html>